body{
    background: rgb(81, 102, 205)205, 81, 200;
    color: rgb(87, 87, 87);
}

.btn1{
  width: 80%; 
  font-size: 60px
}
#camera{
    border: 2px dotted white;
    width: 350px ;
    height:300px ;
}
#resultobjectname , #resultobjectaccuracy{
    color: rgb(126, 20, 255);
}


















































































